body {
  color: #55855b;
  width: 100%;
}

/* 共通 */
.contact__pc {
  display: none;
}

/* ローディングアニメーション */
#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #eaf1e3;
  text-align: center;
}
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#splash_logo img {
  width: 260px;
}
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity: 0;
}
@keyframes fadeUpAnime {
from {
  opacity: 0;
  transform: translateY(100px);
}
to {
  opacity: 1;
  transform: translateY(0);
}
}

/* ヘッダー */
header {
  background-image: url(../img/header.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.icon {
  text-align: center;
}
.icon img {
  max-width: 110px;
  margin-top: 48px;
}
h1 {
  color: #000;
  font-size: 18px;
}

/* グローバルメニュー */
.nav_inner li {
  margin-top: 24px;
  margin-left: 24px;
}
.nav_inner a {
  color: #55855b;
  font-size: 14px;
}

/* お問い合わせ */
.header_contact_wrapper {
  margin-top: 35px;
}
.header_contact_inner a,
.footer_contact_inner a {
  color: #fff;
  padding: 14px 34px 14px 70px;
  background-color: #9b8f0f;
  border-bottom: 4px solid #fff;
}
.header_contact_inner,
.footer_contact_inner {
  position: relative;
}
.header_contact_inner::before,
.footer_contact_inner::before {
  content: "";
  position: absolute;
  background-image: url(../img/mail.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  top: 16px;
  left: 24px;
  z-index: 3;
}

/* お問い合わせ　アニメーション */
.contact_btn {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  transition: ease .2s;
}
.contact_btn span {
  position: relative;
  z-index: 3;
  color: #fff;
}
.contact_btn:hover span {
  color:#fff;
}
.bgleft:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: #b3a618;
  width: 100%;
  height: 100%;
  transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: right top;
}
.bgleft:hover:before {
  transform-origin:left top;
  transform:scale(1, 1);
}

/* 中心から外に線が伸びる(headerのグローバルメニュー) */
.nav_inner li a {
  position: relative;
  }
  .nav_inner li,
  .nav_inner li a:hover {
  color: #55855b;
  }
  .nav_inner li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #55855b;
    transition: all .3s;
    transform: scale(0, 1);
    transform-origin: center top;
  }
  .nav_inner li::after,
  .nav_inner li a:hover::after {
    transform: scale(1, 1);
  }


main {
  text-align: center;
  margin-left: 200px;
}

/* メインビジュアル */
.mainpic {
  height: 700px;
}
.mainpic_wrapper {
  position: relative;
  display: flex;
}
.mainpic_inner {
  position: relative;
  max-width: 1000px;
  width: calc(100%/3);
  height: 700px;
}
.mainpic_inner1 {
  animation: bgchange1 20s ease infinite;
}
 .mainpic_inner2 {
  animation: bgchange2 20s ease infinite;
}
.mainpic_inner3 {
  animation: bgchange3 20s ease infinite;
}
@keyframes bgchange1 {
  0%   {background: #d2e5d9;}/*変化させたい色*/
  25%  {background: #dcdcdc;}/*変化させたい色*/
  50%  {background: #f0d1ef;}/*変化させたい色*/
  75%  {background: #d2e5d9;}/*変化させたい色*/
  90%  {background: #dcdcdc;}/*変化させたい色*/
  100% {background: #f0d1ef;}/*変化させたい色*/
}
@keyframes bgchange2 {
  0%   {background: #e1e186;}/*変化させたい色*/
  25%  {background: #d2e5d9;}/*変化させたい色*/
  50%  {background: #dcdcdc;}/*変化させたい色*/
  75%  {background: #e1e186;}/*変化させたい色*/
  90%  {background: #d2e5d9;}/*変化させたい色*/
  100% {background: #dcdcdc;}/*変化させたい色*/
}
@keyframes bgchange3 {
  0%   {background: #dcdcdc;}/*変化させたい色*/
  25%  {background: #e1e186;}/*変化させたい色*/
  50%  {background: #d2e5d9;}/*変化させたい色*/
  75%  {background: #dcdcdc;}/*変化させたい色*/
  90%  {background: #e1e186;}/*変化させたい色*/
  100% {background: #d2e5d9;}/*変化させたい色*/
}
.mainpic_item img {
  position: absolute;
  top: 550px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 13vw;
  z-index: 100;
}

/* 流体シェイプ */
.fluid {
  width: 15vw;
  height: 15vh;
  background: #f5f5ee;
  position: absolute;
  top: 550px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  animation: fluidrotate 30s ease 0s infinite;
}
@keyframes fluidrotate {  
  0%, 100% {
      border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
      border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
      border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
      border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
      border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
      border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
      border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
  }

/* キャッチコピー */
.copy img {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 400px;
  z-index: 100;
}
.mitsuba img {
  position: absolute;
  top: 220px;
  left: 0;
  width: 5vw;
  z-index: 100;
}

/* あしらい */
.ashirai1 img {
  position: absolute;
  top: 100px;
  right: 55%;
  width: 20vw;
  z-index: 100;
}
.ashirai2 img {
  position: absolute;
  top: 363px;
  right: 20%;
  width: 20vw;
  z-index: 100;
}

/* メインビジュアル線 */
.main_line1 img {
  position: absolute;
  top: 45px;
  left: 7%;
  width: 67vw;
  z-index: 100;
}
.main_line2 img {
  position: absolute;
  top: 78px;
  right: 5%;
  height: 60vh;
  z-index: 100;
}
.main_line3 img {
  position: absolute;
  top: 660px;
  right: 7%;
  width: 67vw;
  z-index: 100;
}
.main_line4 img {
  position: absolute;
  top: 78px;
  left: 5%;
  height: 60vh;
  z-index: 100;
}


/* さむらい堂のこだわり */
.concept {
  background-image: url(../img/concept_back.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 96px;
  padding-bottom: 96px;
}

h2 {
  font-size: 28px;
}
.concept_wrapper {
  margin-top: 96px;
}
.concept_wrapper p {
  font-size: 14px;
  line-height: 2.0;
}


/* 商品紹介 */
.product {
  background-image: url(../img/product_back.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 96px;
  padding-bottom: 96px;
}
.product_inner {
  max-width: 1000px;
  margin: 0 auto;
}
.product_inner li {
  display: flex;
  flex-wrap: wrap;
}
.product_inner li:last-of-type {
  justify-content: right;
}
.product_inner p {
  font-size: 16px;
  color: #55855b;
  margin-top: 24px;
}
.product_item {
  margin-top: 96px;
  justify-content: center;
}
.other {
  margin-top: 48px;
}

/*　画像の拡大　*/
.zoomIn {
  margin-top: 24px;
  margin-right: 48px;
  margin-left: 48px;
}
.zoomIn img {
  max-width: 130px;
  transform: scale(1);
  transition: .3s ease-in-out;
}
.zoomIn a:hover img {
  transform: scale(1.2);
}


/* ランダム出現 */
.box {
  opacity: 0;
}
.fadeUp {
  animation-name: moveAnimation;
  animation-duration: 0.5s;
  animation-fill-mode:forwards;
  opacity: 0;
  }
  @keyframes moveAnimation {
    from {
      opacity: 0;
    transform: translateY(100px);
    }
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }

/*矢印を右に移動*/
.arrow {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  color: #55855b;
  text-decoration: none;
  outline: none;
}
.arrow::before {
  content: '';
  position: absolute;
  bottom:-8px;
  left:15%;  
  width: 85%;
  height: 1px;
  background: #55855b;
  transition: all .3s;
}
.arrow::after {
  content: '';
  position: absolute;
  bottom:-3px;
  right:0;   
  width: 15px;
  height:1px;
  background: #55855b;
  transform: rotate(35deg);
  transition: all .3s;
}
.arrow:hover::before {
  left:20%;
}
.arrow:hover::after {
  right:-5%;
}


/* 新着情報 */
.new_info {
  background-image: url(../img/new_info_back.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 96px;
  padding-bottom: 96px;
}
.new_info_wrapper {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 96px;
  padding-left: 24px;
  padding-right: 24px;
}
.new_info_wrapper li {
  font-size: 16px;
  margin-top: 32px;
  border-top: 1px solid #999898;
  padding-top: 32px;
}
.new_info_wrapper li:last-of-type {
  text-align: right;
}
.new_info_wrapper a {
  color: #55855b;
}
.new_info_inner {
  display: flex;
}
.new_info_inner p {
  text-align: left;
}
.new_info_inner h3 {
  margin-right: 12px;
  margin-left: 12px;
}


/* 店舗紹介 */
.shop {
  background-image: url(../img/shop_back.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 96px;
  padding-bottom: 96px;
}
.shop_wrapper {
  max-width: 735px;
  margin: 0 auto;
  margin-top: 96px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.shop_inner {
  width: 358px;
}
.shop_inner a {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  margin-right: 48px;
  color: #55855b;
}
.shop_inner img {
  margin-right: 40px;
}
.shop_inner p {
  padding-top: 24px;
  text-align: left;
  font-size: 14px;
}
.shopname {
  font-size: 17px;
  font-weight: bold;
}

/*　画像の縮小　*/
.zoomOut img {
  transform: scale(1.1);
  transition: .3s ease-in-out;
}
.zoomOut a:hover img {
  transform: scale(1);
}
.mask {
  display: flex;
  overflow: hidden;
}

/* 順番に出現 */
.box{
  opacity: 0;
}
.fadeUp {
  animation-name:fadeUpAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity: 0;
  }
  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }


 /* Instagram */
 .instagram {
  background-image: url(../img/Instagram_back.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 96px;
  padding-bottom: 96px;
 }
 .instagram_inner a {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 96px;
  padding-left: 24px;
 }
 .instagram_inner p {
  font-size: 28px;
  color: #55855b;
  padding-left: 8px;
 }
 .instagram_item {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
 .instagram_item img {
  width: 200px;
 }


 /* 背景が出現＋テキスト */
 .zoomOutText {
  position: relative;
  padding-top: 8px;
  padding-right: 24px;
  padding-left: 24px;
}
.zoomOutText span.mask {
  position: relative;
  transition: .3s ease-in-out;
  display: block;
  line-height: 0;
  overflow:hidden;
}
.zoomOutText:hover span.mask::before {
  content:"";
  position: absolute;
  z-index:2;
  top:10px;
  left:10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background-color: #333;
  opacity: 0.6;
}
.zoomOutText img{
  transform: scale(1.2);
  filter: blur(0);
  transition: .3s ease-in-out;
}
.zoomOutText:hover img {
  transform: scale(1);
  filter: blur(2px);
}
.zoomOutText span.cap{
  opacity:0;
  transition: .5s ease-in-out;
  position: absolute;
  z-index:3;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  line-height: 1.5;
}
.zoomOutText:hover span.cap {
  opacity:1;
}


/* アクセス */
.access {
  background-image: url(../img/access_back.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 96px;
  padding-bottom: 96px;
}
iframe {
  margin-top: 96px;
  width: 100%;
}


/* フッター */
footer {
  background-image: url(../img/footer_back.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 200px;
}
.footer_wrapper a {
  color: #ffffff;
}
.footer_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 24px;
}
.footer_menu li {
  margin-top: 24px;
  margin-right: 24px;
}
.footer_menu a {
  font-size: 14px;
}
.footer_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 48px;
}
.footer_icon img {
  width: 60px;
  height: 55px;
  margin-right: 24px;
}
.footer_infomation {
  margin-right: 24px;
}
.footer_infomation p {
  color: #ffffff;
  font-size: 10px;
  margin-right: 24px;
  padding-top: 8px;
}
.footer_infomation a {
  font-size: 14px;
}
.footer_infomation img {
  width: 10px;
  height: 12px;
  margin-right: 8px;
}

/* 線の上を別の線が伸びる(footer電話) */
.footer_phone {
  position: relative;
  color: #fff;
  padding: 10px 50px 10px 30px;
  display: inline-block;
  text-decoration: none;
  outline: none;
}
.footer_phone::before,
.footer_phone::after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0; 
  background: #fff;
  width: 100%;
  height: 2px;
  transition: all 0.3s ease-in-out;
}
.footer_phone::after {
  width: 0;
  background: #ccc;
} 
.footer_phone:hover::after {
  width: 100%;
} 
.footer_phone span::after {
  content: '';
  position: absolute;
  top: 1.3em;
  right: 20px;  
  width: 5px;
  height: 5px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
  transition: all .3s;
} 
.footer_phone:hover span::after {
  right: 15px;
}

/* お問い合わせ */
.footer_contact_inner {
  padding-top: 5px;
}
.footer_contact_inner::before {
  top: 20px;
}

/* SNS */
.sns {
  padding-top: 30px;
}
.copyright {
  color: #ffffff;
  font-size: 9px;
  text-align: center;
  margin-top: 48px;
  padding-top: 5px;
  padding-bottom: 24px;
  border-top: 1px solid #ffffff;
}

/* 中心から外に線が伸びる(footerのグローバルメニュー) */
.footer_menu li a {
position: relative;
}
.footer_menu li,
.footer_menu li a:hover {
color:#fff;
}
.footer_menu li a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background:#fff;
  transition: all .3s;
  transform: scale(0, 1);
  transform-origin: center top;
}
.footer_menu li::after,
.footer_menu li a:hover::after {
  transform: scale(1, 1);
}

/* 左右から線が伸びて枠線になる（footerのsns） */
.sns {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.sns li a {
  display: block;
  padding: 5px 15px;
  text-decoration: none;
  color: #333;
}
.sns li {
  position: relative;
  margin:0 8px;
}
.sns li::before,
.sns li::after {
  content:"";
  position: absolute;
  width: 0;
  height: 2px;
  background: #fff;
  transition: all 0.2s linear;
  transition-delay: 0.2s;
}
.sns li::before {
  right: 0;
  top: 0;
}
.sns li::after {
  left: 0;
  bottom: 0;
}
.sns li span {
  display: block;
}
.sns li span::before,
.sns li span::after {
  content:"";
  position: absolute;
  width:2px;
  height:0;
  background: #fff;
  transition: all 0.2s linear;
}
.sns li span::before {
  left: 0;
  top: 0;
}
.sns li span::after {
  right: 0;
  bottom: 0;
}

.sns li:hover::before,
.sns li:hover::after {
  width: 100%;
}

.sns li:hover span::before,
.sns li:hover span::after {
  height: 100%;
}

/* 全体 */
/* topへ戻るボタン */
#back-btn a {
  display: flex;
  justify-content:center;
  align-items:center;
  background: #d2e5d9; 
  border-radius: 5px;
  width: 60px;
  height: 60px;
  color: #7d9373;
  text-align: center;
  text-transform: uppercase; 
  text-decoration: none;
  font-size:0.9rem;
  transition:all 0.3s;
  opacity: 0.6;
}
#back-btn a:hover {
  background: #7d9373;
  color: #d2e5d9;
}
#back-btn {
  position: fixed;
  right: 10px;
  bottom:10px;
  z-index: 2;
  opacity: 0;
  transform: translateY(100px);
}
#back-btn.UpMove {
  animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime {
  from {
    opacity: 0;
  transform: translateY(100px);
  }
  to {
    opacity: 1;
  transform: translateY(0);
  }
}
#back-btn.DownMove {
  animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime {
  from {
    opacity: 1;
  transform: translateY(0);
  }
  to {
    opacity: 1;
  transform: translateY(100px);
  }
}


/* スクロールしたらふわっ */
.fadeUpTrigger {
  opacity: 0;
}
.fadeUp{
animation-name:fadeUpAnime;
animation-duration: 1.0s;
animation-fill-mode:forwards;
opacity:0;
}
@keyframes fadeUpAnime {
  from {
    opacity: 0;
  transform: translateY(100px);
  }
  to {
    opacity: 1;
  transform: translateY(0);
  }
}


/* スクロールしたら滑らかに出現 */
  .smooth {
    animation-name:smoothAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    transform-origin: left;
    opacity:0;
  }
  @keyframes smoothAnime {
    from {
    transform: translate3d(0, 100%, 0) skewY(12deg);
    opacity:0;
    }
    to {
    transform: translate3d(0, 0, 0) skewY(0);
    opacity:1;
    }
  }
  /* スクロールをしたら出現する要素にはじめに透過0を指定　*/
  .smoothTrigger {
      opacity: 0;
  }



/* スマホレイアウト */
@media screen and (max-width: 768px) {
  /* ヘッダー */
  header {
    width: 100vw;
    height: 80px;
    z-index: 1000;
  }
  .header_wrapper {
    display: flex;
    justify-content: space-between;
  }
  .icon {
    display: flex;
  }
  .icon img {
    max-width: 55px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 5.5vw;
  }
  h1 {
    margin-top: 35px;
  }

  /* ハンバーガーメニュー */
  .hamburger {
    width: 100px;
    height: 80px;
    position: relative;
    z-index: 200;
  }
  .hamburger span {
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #000;
    top: 0;
    right: 40px;
    transition: 0.3s;
  }
  .hamburger span:nth-child(1) {
    top: 20px;
  }
  .hamburger span:nth-child(2) {
    top: 30px;
  }
  .hamburger span:nth-child(3) {
    top: 40px;
  }
  .hamburger.active span:nth-child(1) {
    top: 44px;
    transform: rotate(48deg);
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    top: 44px;
    transform: rotate(-48deg);
  }

  .header_contact_wrapper {
    margin-top: 0;
  }
  .nav_inner,
  .header_contact_inner {
    position: absolute;
    left: -100%;
    transition: 0.3s;
  }
  .nav_inner.open {
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: #ecf4e6;
    transition: 0.3s
  }
  .nav_inner li {
    margin-top: 60px;
    margin-left: 0;
  }
  .nav_inner a {
    color: #000;
  }
  .open.nav_inner {
    flex-direction: column;
    height: 100vh;
    text-align: center;
  }


  .contact__sp {
    display: flex;
    position: absolute;
    right: 71px;
    width: 100px;
    height: 80px;
  }
  .contact__sp_wrapper a {
    background-color: #9b8f0f;
    border-radius: 5%;
    padding: 15px 20px 8px 0;
  }
  .contact__sp img {
    width: 30px;
    margin: 25px 0px 0 20px;
  }


  /* メインビジュアル */
  main {
    margin-top: 80px;
    margin-left: 0;
  }
  .mainpic {
    height: 350px;
  }
  .mainpic_inner {
    max-width: 768px;
    height: 350px;
  }
  .mainpic_item img {
    top: 290px;
    width: 100px;
  }
  .fluid {
    height: 13vw;
    top: 280px;
  }

  /* キャッチコピー */
  .copy img {
    top: 150px;
    width: 250px;
  }
  .mitsuba img {
    top: 90px;
  }

  /* あしらい */
  .ashirai1 img {
    top: 70px;
    right: 62%;
  }
  .ashirai2 img {
    top: 200px;
  }

  /* メインビジュアル */
  .main_line1 img {
    top: 10px;
    width: 84vw;
  }
  .main_line2 img {
    top: 26px;
    height: 35vh;
  }
  .main_line3 img {
    top: 335px;
    width: 84vw;
  }
  .main_line4 img {
    top: 26px;
    height: 35vh;
  }


  /* さむらい堂のこだわり */
  .concept {
    padding-right: 24px;
    padding-bottom: 48px;
    padding-left: 24px;
  }
  h2 {
    font-size: 24px;
  }
  .concept_wrapper {
    margin-top: 48px;
  }

  /* 商品紹介 */
  .product {
    padding-bottom: 48px;
  }
  .product_wrapper img {
    max-width: 100px;
  }
  .product_inner {
    max-width: 700px;
  }
  .product_item {
    margin-top: 48px;
  }
  .product_item a {
    margin-right: 24px;
    margin-left: 24px;
  }
  .zoomIn {
    margin-right: 30px;
    margin-left: 30px;
  }
  .other {
    margin-right: 16px;
  }


  /* 新着情報 */
  .new_info {
    padding-bottom: 48px;
  }
.new_info_wrapper {
  margin-top: 48px;
}


  /* 店舗紹介 */
  .shop {
    padding-bottom: 48px;
  }
  .shop_wrapper {
    max-width: 650px;
    justify-content: center;
    margin-top: 48px;
  }
  .shop_inner {
    width: 500px;
    border-right: none;
  }
  .shop_inner a {
    margin-right: 0;
    margin-left: 24px;
  }
  .shop_inner img {
    width: 30vw;
    margin-right: 48px;
  }


   /* Instagram */
   .instagram_inner a {
    margin-top: 48px;
   }
   .instagram_item img {
    margin-top: 8px;
    margin-right: 0;
   }

   /* アクセス */
.access {
  padding-bottom: 48px;
}
iframe {
  margin-top: 48px;
}


  /* フッター */
  footer {
    margin-left: 0;
  }
  .footer_wrapper {
    max-width: 340px;
    margin: 0 auto;
  }
  .footer_menu li {
    margin-top: 12px;
    margin-right: 12px;
  }
  .footer_inner {
    margin-top: 24px;
  }
  .footer_icon img {
    width: 45px;
    height: 45px;
    margin-top: 5px;
  }
  .footer_phone {
    padding-top: 0;
  }
  .footer_contact_wrapper {
    position: absolute;
    left: -100%;
  }
  .footer_contact_wrapper img {
    position: absolute;
    left: -100%;
  }
  .sns {
    padding-top: 16px;
  }
  .copyright {
    margin-top: 24px;
  }

    /* topへ戻るボタン */
    #back-btn a {
      width: 50px;
      height: 50px;
    }

}